[user]
	email = mail@norbu09.org
	name = Lenz Gschwendtner
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = https://github.com/
[merge]
	conflictStyle = diff3
[merge "mergiraf"]
	name = mergiraf
	driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L
